# 依赖管理
# 默认源，用腾讯的
# registry=http://mirrors.cloud.tencent.com/npm/
registry=https://registry.npmjs.com


# pnpm自动安装peerDependencies
auto-install-peers=true

# node 管理
# 检查包设置时要使用的 Node.js 版本，防止不兼容的依赖项
# node-version=14.0.0
# 严格声明，避免安装与当前node 版本不兼容的依赖；但是如果package.json 中指定了具体版本，则不起作用
# engine-strict=true
# 项目运行时具体的 node 版本
use-node-version>=14.21.3
# 指定下载node 时的镜像，下面是阿里的
node-mirror:release=https://npmmirror.com/mirrors/node/
node-mirror:rc=https://npmmirror.com/mirrors/node-rc/
node-mirror:nightly=https://npmmirror.com/mirrors/node-nightly/
